.progressBar {
    max-width: 81.25rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-400);
    padding-bottom: 26px;
}


.progressTasks span:first-child,
.finishedTasks span:first-child {
    color: var(--blue);
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
}

.progressTasks span:last-child,
.finishedTasks span:last-child {
    color: var(--gray-200);
    font-size: 12px;
    font-weight: 700;
    padding:2px 8px;
    background: var(--gray-400);
    border-radius: 100%;
}
.finishedTasks span:first-child {
    color: var(--purple);
}